<section class="bestsellers">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <div class="bestsellers-container">
        <div class="bestsellers-container-item">
            <img class="bestsellers-container-image" src="../assets/bestsellers/image1.png" alt="">
            <h3 class="bestsellers-container-item-title">The modern plaform bed</h3>
            <p class="bestsellers-container-item-price">750$</p>
        </div>
        <ul class="bestsellers-list">
            <li class="bestsellers-list-item">
                <img class="bestsellers-list-image" src="../assets/bestsellers/image2.png" alt="">
                <h3 class="bestsellers-list-item-title">The cozy lounge chair</h3>
                <p class="bestsellers-list-item-price">230$</p>
            </li>
            <li class="bestsellers-list-item">
                <img class="bestsellers-list-image" src="../assets/bestsellers/image3.png" alt="">
                <h3 class="bestsellers-list-item-title">The industrial accent chair</h3>
                <p class="bestsellers-list-item-price">250$</p>
            </li>
            <li class="bestsellers-list-item">
                <img class="bestsellers-list-image" src="../assets/bestsellers/image4.png" alt="">
                <h3 class="bestsellers-list-item-title">The sleek stand</h3>
                <p class="bestsellers-list-item-price">300$</p>
            </li>
            <li class="bestsellers-list-item item-none">
                <img class="bestsellers-list-image" src="../assets/bestsellers/image5.png" alt="">
                <h3 class="bestsellers-list-item-title">The minimalist sofa</h3>
                <p class="bestsellers-list-item-price">600$</p>
            </li>
        </ul>
    </div>
</section>