
  <footer class="footer">
    <div class="container">
      <div class="footer__content footer__desktop">

        <div>
          <img src="../public/img/logo-white.svg" alt="logo" class="footer__logo">

          <div class="footer__address">
            <p class="footer__txt">Obolonsky Prospect, 14, Kyiv</p>
            <p class="footer__txt">Daily 10:00-21:00</p>
          </div>
        </div>

        <div>
          <nav class="footer__nav">
            <a href="#" class="footer__nav-link">About us</a>
            <a href="#" class="footer__nav-link">Our products</a>
            <a href="#" class="footer__nav-link">Prices</a>
            <a href="#" class="footer__nav-link">Bestsellers</a>
            <a href="#" class="footer__nav-link">Reviews</a>
          </nav>

          <div class="footer__contacts">
            <div class="footer__concts-tel">
              <a href="tel:+380669384758" class="footer__txt">+380669384758</a>
              <a href="tel:+380679384758" class="footer__txt">+380679384758</a>
            </div>
            <a href="mailto:minimal.furniture@gmail.com" class="footer__txt">minimal.furniture@gmail.com</a>
          </div>
        </div>

        <div class="footer__socmedia">
          <a href="#" class="footer__socmedia-link"><img src="../public/img/facebook-logo.svg" alt="facebook"></a>
          <a href="#" class="footer__socmedia-link"><img src="../public/img/instagram-logo.svg" alt="instagram"></a>
          <a href="#" class="footer__socmedia-link"><img src="../public/img/youtube-logo.svg" alt="youtube"></a>
        </div>

      </div>

      <div class="footer__content footer__tablet">

        <div class="footer__tablet-wrapper">
          <div class="footer__tablet-part">
            <div>
              <img src="../public/img/logo-white.svg" alt="logo" class="footer__logo">
              <div class="footer__address">
                <p class="footer__txt">Obolonsky Prospect, 14, Kyiv</p>
                <p class="footer__txt">Daily 10:00-21:00</p>
              </div>
            </div>
            <div class="footer__concts-tel">
              <a href="tel:+380669384758" class="footer__txt">+380669384758</a>
              <a href="tel:+380679384758" class="footer__txt">+380679384758</a>
              <a href="mailto:minimal.furniture@gmail.com" class="footer__txt">minimal.furniture@gmail.com</a>
            </div>

          </div>

          <nav class="footer__nav">
            <a href="#" class="footer__nav-link">About us</a>
            <a href="#" class="footer__nav-link">Our products</a>
            <a href="#" class="footer__nav-link">Prices</a>
            <a href="#" class="footer__nav-link">Bestsellers</a>
            <a href="#" class="footer__nav-link">Reviews</a>
          </nav>

        </div>

        <div class="footer__socmedia">
          <a href="#" class="footer__socmedia-link"><img src="../public/img/facebook-logo.svg" alt="facebook"></a>
          <a href="#" class="footer__socmedia-link"><img src="../public/img/instagram-logo.svg" alt="instagram"></a>
          <a href="#" class="footer__socmedia-link"><img src="../public/img/youtube-logo.svg" alt="youtube"></a>
        </div>

      </div>

      <div class="footer__content footer__mobile">
        <div class="footer__mobile-part">
          <img src="/src/img/logo-white.svg" alt="logo" class="footer__logo">
          <div class="footer__socmedia">
            <a href="#" class="footer__socmedia-link"><img src="../public/img/facebook-logo.svg" alt="facebook"></a>
            <a href="#" class="footer__socmedia-link"><img src="../public/img/instagram-logo.svg" alt="instagram"></a>
            <a href="#" class="footer__socmedia-link"><img src="../public/img/youtube-logo.svg" alt="youtube"></a>
          </div>
        </div>
        <nav class="footer__nav">
          <a href="#" class="footer__nav-link">About us</a>
          <a href="#" class="footer__nav-link">Our products</a>
          <a href="#" class="footer__nav-link">Prices</a>
          <a href="#" class="footer__nav-link">Bestsellers</a>
          <a href="#" class="footer__nav-link">Reviews</a>
        </nav>

        <div class="footer__address">
          <p class="footer__txt">Obolonsky Prospect, 14, Kyiv</p>
          <p class="footer__txt">Daily 10:00-21:00</p>
        </div>

        <div class="footer__concts-tel">
          <a href="tel:+380669384758" class="footer__txt">+380669384758</a>
          <a href="tel:+380679384758" class="footer__txt">+380679384758</a>
          <a href="mailto:minimal.furniture@gmail.com" class="footer__txt">minimal.furniture@gmail.com</a>
        </div>

      </div>

      <div class="footer__privacy-policy">
        <p class="footer__privacy-policy-txt">
          By using this website, you agree to the <a href="#" class="footer__privacy-policy-link">Terms of Service</a>
          and <a href="#" class="footer__privacy-policy-link">Privacy Policy</a>
        </p>
      </div>

    </div>
  </footer>