<main class="main">
  <section class="first-main-section">
    <div class="container">
      <div class="modernminimalist-full">
        <div class="modern-minimalist">
          <h2 class="modern">MODERN AND MINIMALIST<br>FURNITURE FOR YOU</h2>

          <div class="modern-minimalist">
            <picture class="thesmallestpic">
              <source srcset="./img/imagethesmallest.png">
              <img src="./img/imagethesmallest.png" alt="smallestpic">
            </picture>
            <picture class="thebiggestpic">
              <source srcset="./img/imagebiggest.png">
              <img src="./img/imagebiggest.png" alt="biggestpic">
            </picture>
            <picture class="thebiggesttabletpic">
              <source srcset="./img/imagebiggesttablet.png">
              <img src="./img/imagebiggesttablet.png"
                alt="biggestpictablet">
            </picture>
            <picture class="mediumpic">
              <source srcset="./img/imagemedium.png">
              <img src="./img/imagemedium.png" alt="mediumpic">
            </picture>
            <p class="touch-elegance">Add a touch of elegance to your space <br> with handcrafted furniture pieces</p>
            <p class="touch-elegance-second">Add a touch of elegance to your space <br> with handcrafted furniture
              pieces</p>
            <button class="header-main-button">Subscribe</button>
          </div>
        </div>
      </div>
  </section>

</main>