<section class="ourproducts">
    <h2 class="ourproducts-title">Our Products</h2>
    <ul class="ourproducts-list">
        <li class="ourproducts-list-item">
            <img class="ourproducts-list-image" src="./public/img/ourprojects/image1.png" alt="">
            <h3 class="ourproducts-list-item-title">Minimalist storage solutions</h3>
        </li>
        <li class="ourproducts-list-item mob-item-none">
            <img class="ourproducts-list-image" src="./public/img/ourprojects/image2.png" alt="">
            <h3 class="ourproducts-list-item-title">Handcrafted minimalist seating</h3>
        </li>
        <li class="ourproducts-list-item tab-item-none">
            <img class="ourproducts-list-image" src="./public/img/ourprojects/image3.png" alt="">
            <h3 class="ourproducts-list-item-title">Sleek and simple tables</h3>
        </li>
        <li class="ourproducts-list-item tab-item-none">
            <img class="ourproducts-list-image" src="./public/img/ourprojects/image4.png" alt="">
            <h3 class="ourproducts-list-item-title">Minimalist seating for every space</h3>
        </li>
    </ul>
</section>