<section class="prices">
    <ul class="prices-list">
        <li class="prices-list-item">
            <div class="prices-list-item-container">
                <!-- <div class="prices-list-item-line"></div> -->
                <h3 class="prices-list-item-title">chairs</h3>
            </div>
            <p class="prices-list-item-price">from ₴200</p>
        </li>
        <li class="prices-list-item">
            <div class="prices-list-item-container">
                <h3 class="prices-list-item-title">tables</h3>
            </div>
            <p class="prices-list-item-price">from ₴250</p>
        </li>
        <li class="prices-list-item">
            <div class="prices-list-item-container">
                <h3 class="prices-list-item-title">dresses</h3>
            </div>
            <p class="prices-list-item-price">from ₴300</p>
        </li>
        <li class="prices-list-item">
            <div class="prices-list-item-container">
                <h3 class="prices-list-item-title">sofas</h3>
            </div>
            <p class="prices-list-item-price">from ₴500</p>
        </li>
    </ul>
</section>