<section class="reviews">
  <div class="container">
    <div class="reviews__content">
      <h3 class="reviews__title">Clients reviews</h3>
      <div class="reviews__reviews-wrapper">
        <div class="reviews__review">
          <div class="reviews__review-details">
            <img src="./img/alexandra.png" alt="Alexandra Dream" class="reviews__review-img">
            <div class="reviews__review-details-txt">
              <h5 class="reviews__client-name">Alexandra dream</h5>
              <span class="reviews__reviews-data">1 week ago</span>
            </div>
          </div>
          <p class="reviews__review-message">I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique
            and beautifully designed, and you can tell that a lot of thought and care goes into every detail.</p>
        </div>
        <div class="reviews__review reviews__review-2">
          <div class="reviews__review-details">
            <img src="./img/james.png" alt="James Williams" class="reviews__review-img">
            <div class="reviews__review-details-txt">
              <h5 class="reviews__client-name">James Williams</h5>
              <span class="reviews__reviews-data">A week ago</span>
            </div>
          </div>
          <p class="reviews__review-message">The "Minimal" furniture set is a fantastic addition to my home. It
            boasts
            a minimalist design, enhancing the feel and
            look of my living space. The sturdy construction is worth noting too, which speaks volumes about its
            durability.</p>
        </div>
        <div class="reviews__review reviews__review-3">
          <div class="reviews__review-details">
            <img src="./img/emily.png" alt="Emily Watson" class="reviews__review-img">
            <div class="reviews__review-details-txt">
              <h5 class="reviews__client-name">Emily Watson</h5>
              <span class="reviews__reviews-data">3 week ago</span>
            </div>
          </div>
          <p class="reviews__review-message">The "Minimal" furniture set has far exceeded my expectations. The sleek
            design combined with the high-quality materials
            have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of
            comfort.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="newsletter">
  <div class="container">
    <div class="newsletter__content-wrapper">
      <div class="newsletter__content">
        <div class="newsletter__txt">
          <h3 class="newsletter__title">Newsletter</h3>
          <p class="newsletter__descr">Every week we will send you new designs and information about sales.</p>
        </div>
        <form class="newsletter__form">
          <input type="text" class="newsletter__form-input" placeholder="Name">
          <div class=" newsletter__error-item">
            <input type="email" class="newsletter__form-input " placeholder="E-mail">
            <img src="./img/error.svg" alt="" class="newsletter__error-icon">
          </div>
          <div class="newsletter__agreement">
            <input type="checkbox" id="newsletter-agreement" class="newsletter__agreement-btn">
            <label for="newsletter-agreement" class="newsletter__label-txt">
              Agree to subscribe to the newsletter</label>
          </div>
          <button class="newsletter__send-btn">Send</button>
        </form>
      </div>

      <picture>
        <source srcset="./img/newsletter-img@mobile-1x.png 1x, ./img/newsletter-img@mobile-2x.png 2x"
          media="(max-width: 426px)">
        <source srcset="./img/newsletter-img@tablet-1x.png 1x, ./img/newsletter-img@tablet-2x.png 2x"
          media="(max-width: 769px)">
        <source srcset="./img/newsletter-img@desktop-1x.png 1x, ./img/newsletter-img@desktop-2x.png 2x"
          media="(max-width: 2560px)">
        <img src="./img/newsletter-img@desktop-1x.png" alt="Sofa" class="newsletter__img">
      </picture>

    </div>
  </div>
</section>