<section class="second-section-main">
  <div class="container">
    <div class="">
      <h4 class="aboutusmain">About us</h4>
      <h2 class="craftship">Our сraftsmanship: сreating unique<br>handmade furniture</h2>
      <h4 class="crafmanship-h4">Discover the inspiration behind our modern and minimalist designs, and see <br> how we
        bring them to life through our skilled craftsmanship.</h4>
      <div class="boldtextsyears">
        <div class="fiveyears">
          <h2 class="fiveyo">5+</h2>
          <p class="yearsofexperience">Years of experience <br> creating handcrafted <br> furniture</p>
        </div>
        <div class="hundredpercent">
          <h2 class="hundredcent">100%</h2>
          <p class="sustainblysourced">Sustainably sourced <br> materials used in all <br> of our furniture </p>
        </div>
        <div class="fivehundredplus">
          <h2 class="fivehundredpl">500+</h2>
          <p class="uniquefurniture">Unique furniture <br> designs crafted by <br> our skilled artisans</p>
        </div>
      </div>
      <picture class="sofapic">
        <source srcset="../assets/productsofafour.png"><img src="../assets/productsofafour.png" alt="sofapicture">
      </picture>
      <picture class="sofapicthree">
        <source srcset="../assets/productsofafour.png"><img src="../assets/productsofathree.png" alt="sofapicturethree">
      </picture>
    </div>
  </div>
</section>