<section class="second-section-main">
  <div class="container">
    <div class="second-section__wrapper">
      <div class="second-section__main">
        <div class="aboutusmain__wrapper">
          <img src="./img/line.svg" alt="line">
          <h4 class="aboutusmain">About us</h4>
        </div>
        <h2 class="craftship">Our сraftsmanship: сreating unique handmade furniture</h2>
        <h4 class="crafmanship-h4">Discover the inspiration behind our modern and minimalist designs, and see how we
          bring them to life through our skilled craftsmanship.</h4>
        <div class="boldtextsyears">
          <div class="fiveyears boldtextsyears__item">
            <h2 class="fiveyo boldtextsyears__title">5+</h2>
            <p class="yearsofexperience boldtextsyears__txt">Years of experience <br> creating handcrafted <br>
              furniture</p>
          </div>
          <div class="hundredpercent boldtextsyears__item">
            <h2 class="hundredcent boldtextsyears__title">100%</h2>
            <p class="sustainblysourced boldtextsyears__txt">Sustainably sourced <br> materials used in all <br> of our
              furniture </p>
          </div>
          <div class="fivehundredplus boldtextsyears__item">
            <h2 class="fivehundredpl boldtextsyears__title">500+</h2>
            <p class="uniquefurniture boldtextsyears__txt">Unique furniture <br> designs crafted by <br> our skilled
              artisans</p>
          </div>
        </div>
      </div>

      <picture>
        <source srcset="./img/productsofafour.png"><img src="./img/productsofafour.png" alt="sofapicture"
          class="sofapic">
      </picture>
      <picture>
        <source srcset="./img/productsofathree.png"><img src="./img/productsofathree.png" alt="sofapicturethree"
          class="sofapicthree">
      </picture>
    </div>
  </div>
  <picture>
    <source src="./img/sofa-mobile.png"><img src="./img/sofa-mobile.png" alt="sofapicture" class="sofapic-mobile">
  </picture>
</section>