.aboutusmain {
  /* padding-top: 45%; */
  font-weight: 500;
}
.craftship {
  color: #0a224a;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 140.625% */
  text-transform: uppercase;

  margin: 30px 0;
}
.sofapicthree {
  display: none;
}
.crafmanship-h4 {
  color: #0a224a;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.boldtextsyears {
  display: flex;
  gap: 55px;
  margin-top: 30px;
}
.sofapic {
  /* position: absolute;
    right: 200px;
    top: 850px; */

  width: 536px;
  height: 540px;
}
@media (max-width: 1024px) {
  .sofapic {
    display: none;
  }
  .sofapicthree {
    display: block;
    width: 704px;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .sofapic {
    display: none;
  }
  .sofapicthree {
    display: block;
    width: 704px;
    padding-top: 20px;
  }
  .craftship {
    width: 576px;
  }
}
@media (max-width: 425px) {
  .sofapic {
    display: none;
  }
  .sofapicthree {
    display: none;
  }
  .second-section-main {
    padding-top: 64px;
  }
  .boldtextsyears {
    flex-direction: column;
  }
  .fiveyears {
    padding-bottom: 20px;
  }
  .hundredpercent {
    padding-bottom: 20px;
  }
}

.second-section__wrapper {
  display: flex;
  gap: 24px;
}
.second-section__main {
  padding: 36px 69px;
  background: #f7faff;
}
.aboutusmain__wrapper {
  display: flex;
  gap: 20px;
}
.textsyears__item {
}
.boldtextsyears__title {
  color: #0a224a;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; /* 150% */
  text-transform: uppercase;
}
.boldtextsyears__txt {
  color: #0a224a;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */

  margin-top: 20px;
}
