.second-section-container {
    display: flex;
    gap: 24px;
}
.aboutus {
    background-color: #F7FAFF;
    width: 760px;
    height: 500px;
    padding: 36px 69px 34px 69px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutusmain {
    /* padding-top: 45%; */
    font-weight: 500;
    font-size: 16px;
    color: #0A224A;
}
.craftship {
    font-weight: 400;
    font-size: 32px;
    color: #0A224A;
    text-transform: uppercase;
    
}
.sofapicthree {
    display: none;
}
.crafmanship-h4 {
    font-weight: 400;
    font-size: 18px;
    color: #0A224A;
    padding-top: 30px;
}
.boldtextsyears {
    display: flex;
    gap: 55px;
   margin-top: 30px;
   width: 622px;
   height: 173px;
}
.fiveyears {
    width: 170px;
    height: 173px;
}
.fiveyo {
    font-size: 50px;
    color: #0A224A;
    text-align: center;
}
.yearsofexperience {
    font-size: 18px;
    color: #0A224A;
    text-align: center;
}
.hundredpercent {
    width: 170px;
    height: 173px;
}
.hundredcent {
    font-size: 50px;
    color: #0A224A;
    text-align: center;
}
.sustainblysourced {
    font-size: 18px;
    color: #0A224A;
    text-align: center;
}
.fivehundredplus {
    width: 170px;
    height: 173px;
}
.fivehundredpl {
    font-size: 50px;
    color: #0A224A;
    text-align: center;
}
.uniquefurniture {
    font-size: 18px;
    color: #0A224A;
    text-align: center;
}
.sofapic {
    width: 536px;
    height: 540px;
    /* position: absolute;
    right: 200px;
    top: 700px; */
}
@media (max-width: 1024px) {
.second-section-main {
    padding-top: 200px;
}
.sofapic {
    display: none;
}
.sofapicthree {
    display: block;
    width: 704px;
    padding-top: 20px;
}
}

@media (max-width: 768px) {
    .second-section-main {
        padding-top: 200px;
    }
    .sofapic {
        display: none;
    }
    .sofapicthree {
        display: block;
        width: 704px;
        padding-top: 20px;
    }
}
@media (max-width: 425px) {
   
    .sofapic {
        display: none;
    }
    .sofapicthree {
       display: none;
    }
    .second-section-main {
        padding-top: 64px;
    }
    .boldtextsyears {
        flex-direction: column;
        
    }
    .fiveyears {
        padding-bottom: 20px;
    }
    .hundredpercent {
        padding-bottom: 20px;
    }
}