.aboutus {
    background-color: #F7FAFF;
}
.aboutusmain {
    /* padding-top: 45%; */
    font-weight: 500;
}
.craftship {
    font-weight: 350;
    font-size: 45px;
    
}
.sofapicthree {
    display: none;
}
.crafmanship-h4 {
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
}
.boldtextsyears {
    display: flex;
   padding-top: 40px;
}
.fiveyears {
    padding-right: 100px;

}
.fiveyo {
    font-size: 40px;
}
.yearsofexperience {
    font-size: 20px;
}
.hundredcent {
    font-size: 40px;
}
.sustainblysourced {
    font-size: 20px;
}
.fivehundredpl {
    font-size: 40px;
}
.uniquefurniture {
    font-size: 20px;
}
.hundredpercent {
    padding-right: 100px;
}
.sofapic {
    position: absolute;
    right: 200px;
    top: 700px;
}
@media (max-width: 1024px) {
.second-section-main {
    padding-top: 200px;
}
.sofapic {
    display: none;
}
.sofapicthree {
    display: block;
    width: 704px;
    padding-top: 20px;
}
}

@media (max-width: 768px) {
    .second-section-main {
        padding-top: 200px;
    }
    .sofapic {
        display: none;
    }
    .sofapicthree {
        display: block;
        width: 704px;
        padding-top: 20px;
    }
}
@media (max-width: 425px) {
   
    .sofapic {
        display: none;
    }
    .sofapicthree {
       display: none;
    }
    .second-section-main {
        padding-top: 64px;
    }
    .boldtextsyears {
        flex-direction: column;
        
    }
    .fiveyears {
        padding-bottom: 20px;
    }
    .hundredpercent {
        padding-bottom: 20px;
    }
}